$p1Color: #082032; // navy dark blue
$p2Color: #FF4C29; // orange
$p3Color: #2C394B; // navy light blue
$p4Color: #334756; // navy lightish blue

.main-container {
  padding-top: 25px;
}

.btn-register {
  background-color: $p2Color !important;
  border-color: $p2Color !important;

  &:hover {
    opacity: 0.9;
  }
}

.btn-login {
  background-color: $indigo-600;
  border-color: $indigo-600;

  &:hover {
    background-color: $indigo-500;
    border-color: $indigo-500;
  }
}

.navbar {
  background-color: $p1Color;

  &-brand {
    color: $white !important;
    font-family: $bitter;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.nav-link {
  color: $white !important;

  &:hover {
    opacity: 0.9;
  }
}

.alert {
  border-radius: 0;

  .btn-close:focus {
    box-shadow: none;
  }
}

.alert-notice {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}

.alert-alert {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
